body{
	margin: 0;
	padding: 0;
}
.gat{
	width: 300px;
	height: 1263px;
	display: inline-block;
	float: left;
}
.gat-center{
	width: 270px;
	height: 100%;
	padding-left: 15px;
}
.gory{
	width: 270px;
	height: 358px;
}
.gory-gat{
	width: 270px;
	height: 37px;
	border-bottom: 1px solid #f0f0f0;
}
#xiao{
	display: inline-block;
	width: 20px;
	border: 2px solid black;
	margin-bottom: 4px;
}
.gat h3{
	margin: 0px;
}
.gory-ul{
	list-style: none;
	padding: 0;
	width: 270px;
	height: 284px;
	color: #373737;
	font-size: 14px;
}
.gory-ul li span{
	display: inline-block;
	width: 70px;
	border: 1px solid #f0f0f0;
	margin-top: 10px;
	float: right;
	margin-right: 20px;
}
.gory-ul li{
	width: 270px;
	height: 22px;
	margin-bottom: 22px;
	cursor: pointer;
}
/*第二部分*/
.cloor{
	width: 276px;
	height: 153px;
	margin-top: 20px;
}
.eight{
	width: 276px;
	height: 110px;
}
.eight a{
	display: inline-block;
	width: auto;
	text-align: center;
	height: 38px;
	padding: 4px 14px 0px 14px;
	color: white;
	font-size: 13px;
	text-decoration: none;
	line-height: 30px;
	margin-top: 10px;
}
/*第三部分*/
.prick{
	width: 270px;
	height: 172px;
	margin-top: 20px;
}
.prick-ul{
	list-style: none;
	padding: 0;
	width: 270px;
	height: 110px;
	color: #373737;
	font-size: 14px;
}
.prick-ul li{
	width: 270px;
	height: 22px;
	margin-bottom: 22px;
	cursor: pointer;
}
.prick-ul li span{
	display: inline-block;
	width: 109px;
	font-weight: bolder;
	float: right;
}
/*第四部分*/
.brand{
	width: 270px;
	height: 215px;
	margin-top: 20px;
}
.brand-ul{
	list-style: none;
	padding: 0;
	width: 270px;
	height: 153px;
	color: #373737;
	font-size: 14px;
}
.brand-ul li{
	width: 270px;
	height: 22px;
	margin-bottom: 22px;
	cursor: pointer;
}
.brand-ul li span{
	display: inline-block;
	width: 20px;
	font-weight: bolder;
	float: right;
}
/*第五部分*/
.tag{
	width: 270px;
	height: 166px;
	margin-top: 20px;
}
.tag-top{
	width: 271px;
	height: 104px;
	margin-top: 20px;
}
.tag-top a{
	text-decoration: none;
	font-size: 14px;
	color: #292323;
}
.tag-top span{
	color: grey;
	margin-left: 6px;
	margin-right: 6px;
}



body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size:16px ;
	display: flex;
}
select {
   background:#D3D3D3 ;
   border: none;
   font-size: 14px;
   height: 40px;
   padding: 0  0 0 20px; 
   width: 220px;
   appearance:none;  
   background: url(zbh-png/向下 箭头.png) no-repeat scroll right center transparent;
}

a{   
	 color: #373737;
	 text-decoration:none;
}

#right{
	float: right;
}
#right a{
	padding:0 30px;
}
/*--------------------------------------*/
.content{       
				width: 1000px;
		        height: 1200px;
				margin: 0 auto;
				/*弹性布局*/
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				padding: 20px;
			}
.fur{          
	            /*padding:  0 0 20px 0 ;*/
				width: 270px;
				height: 396px;
				margin: 0 auto;
			}
.fur-img{       
	           
				width: 270px;
				height: 300px;
				position: relative;
			}
.fur-h div{    
	            display: none;
	            border-radius:50% ;
	            text-align: center;
				width: 40px;
				height: 40px;
				border: 1px solid #E8E8E8;
				background-color: #FFFFFF;
				}
.fur-h{        
	            margin-top: 10px;
	            padding: 150px 20px;
				position: absolute;
				top: 0px;
				left: -40px;
			 
			}

.fur:hover .fur-h div{
	            transform: translateX(40px);
				transition: all linear 0.4s;
	            display: block;
				
					
			}
.name-a:hover{
	color: #FF8C00;
}
h3{
	font-size:16px ;
	font-weight: 400;
}
/*浮现小图片*/
#eyes,#heart,#xh{
	margin-top: 5px;
	width: 22px;
	height:22px ;
}
/*价格字体*/		
#money{
	box-sizing: border-box;
	color: #FF5151;
	font-weight: 600;
}
/*页面翻页*/
nav{
	display: block;
	
}
.pagination{
	    justify-content: center;
}
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}
ul {
    margin: 0;
    padding: 0;

}
.pagination li{
	padding: 0px 20px;
	
}
.pagination li .page-numbers {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: block;
    border: 1px solid #D3D3D3;
    }
.pagination li .page-number {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: block;
    background-color: #ff5151;
    border-style:1px solid;
    color: #FFFFFF;
    }
.pagination li .dot{
	     width: 5px;
         height: 5px;
         line-height: 5px;
	    background-color: #ff5151;
	    display: inline-block;
}
